body {
    background-color: white;
}

:root {
    --rosa: 238, 79, 132;
    --roxo: 124, 59, 237;
    --azul: 60, 113, 221;
}

.main {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1400px;
    padding-inline: 1rem;
    margin-inline: auto;
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.897);
    backdrop-filter: blur(16px);
    position: fixed;
    border-bottom: 2px solid rgb(235, 235, 235);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    padding-block: 11px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo-icon {
    font-size: 23px;
    color: #7c3bed;
}

.logo-text {
    font-size: 20px;
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: rgba(0, 0, 0, 0.7);
}

.navbar-items>p:hover {
    cursor: pointer;
    color: rgb(var(--roxo));
}

.buttons {
    display: flex;
    gap: 20px;
}

.login {
    padding-inline: 15px;
    padding-block: 12px;
    background-color: transparent;
    border: 0;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    transition: .2s ease-in-out;
    font-family: 'Inter';
    cursor: pointer;
    background-color: white;
}

.login:hover {
    background-color: rgb(var(--rosa));
    color: white;
}

.register {
    padding-inline: 15px;
    padding-block: 12px;
    background-color: rgb(var(--roxo));
    border: 0;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: .2s ease-in-out;
    font-family: 'Inter';
    cursor: pointer;
}

.register:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgb(var(--roxo));
}

.menu {
    display: none;
}

.menu-icon {
    color: rgba(0, 0, 0, 0.7);
    font-size: 25px;
}

.hero {
    height: 100vh;
    background: linear-gradient(135deg, hsl(262 83% 58% / .1), hsl(220 70% 55% / .1));
    padding-top: 60px;
}

.hero-content {
    height: 100%;
    display: flex;
    gap: 50px;
}

.hero-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.hero-badge {
    display: inline-flex;
    align-items: center;
    padding-inline: 15px;
    padding-block: 9px;
    gap: 10px;
    color: rgb(var(--roxo));
    background-color: #7c3bed33;
    border-radius: 30px;
    border: 1px #7c3bed36 solid;
}

.hero-badge-text {
    font-size: 14px;
    font-weight: 500;
}

.hero-title {
    width: 30rem;
    font-size: 70px;
    color: black;
    line-height: 75px;
    margin-top: 25px;
}

.hero-description {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 25px;
}

.blue-title-highlight {
    background: linear-gradient(90deg, rgba(124, 59, 237, 1) 0%, rgba(60, 113, 221, 1) 100%);
    background-clip: text;
    color: transparent;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.hero-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    padding-inline: 30px;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.103);
}

.hero-right {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}

.hero-image {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000036;
}

.hero-left-bottom {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.hero-statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.hero-statistic-title {
    color: rgb(var(--roxo));
    font-size: 30px;
}

.rosa {
    color: rgb(var(--rosa));
}

.azul {
    color: rgb(var(--azul));
}

.hero-statistic-description {
    color: rgb(133, 133, 133);
    font-size: 15px;
}

.functionamento-content {
    padding-block: 75px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.funcionamento-head {
    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: center;
}

.funcionamento-title {
    font-size: 45px;
}

.funcionamento-description {
    font-size: 20px;
    color: rgb(133, 133, 133);
}

.functionamento-boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.funcionamento-box {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    padding: 35px;

    border: 2px solid rgb(221, 221, 221);
    border-radius: 20px;

    transition: .2s ease-in-out;
}

.funcionamento-box:hover {
    border: 2px solid rgba(var(--roxo), 0.6);
    transform: translateY(-0.7rem);
    box-shadow: 0 0 30px rgba(var(--roxo), 0.2);
}

.funcionamento-box-icon {
    display: flex;
    align-items: center;
    padding: 15px;
    color: rgb(var(--roxo));
    background-color: rgba(var(--roxo), .2);
    border-radius: 10px;
    font-size: 35px;
}

.funcionamento-box-title {
    font-size: 23px;
}

.funcionamento-box-description {
    color: rgb(92, 92, 92);
}

@media screen and (max-width: 768px) {
    .navbar-content {
        padding-block: 18px;
    }

    .navbar-items {
        display: none;
    }

    .buttons {
        display: none;
    }

    .menu {
        display: flex;
    }
}

@media screen and (max-width: 1024px) {
    .hero-right {
        display: none;
    }
    
    .hero-title {
        width: 100%;
        font-size: 45px;
    }
}